/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ngx-toastr/toastr";
.is-invalid{
    border: 1px solid!important;
    border-color: #dc3545!important;
}
.invalid-mess {
	display: block !important;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
